<mat-nav-list role="list">
    <div class="card mb-4" class="p-3 mb-2 bg-light text-dark">
        <div class="card-body text-center">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
            class="rounded-circle img-fluid" style="width: 150px;">
          <h5 class="my-3">Akash Rawat</h5>
          <p class="text-muted mb-1">Full Stack Developer</p>
          <p class="text-muted mb-4">Nainital, Uttarakhand</p>
        </div>
      </div>

    <mat-divider></mat-divider>
    <div class="p-3 mb-2 bg-light text-dark">
        <div class="sidebar-nav">
            <div class="sidenav">
                <a mat-list-item routerLinkActive="list-item-active" class="sidebar-item" routerLink="/" class="fas fa-tachometer-alt fa-fw me-3">
                    <mat-icon>dashboard</mat-icon>
                    <span>DashBoard</span>
                </a>
              <a class="sidebar-item" mat-list-item routerLinkActive="list-item-active" routerLink="/table" class="fas fa-tachometer-alt fa-fw me-3">
                <mat-icon>account_circle</mat-icon>
                <span>resourses</span>
              </a>
            </div>
            </div>
            </div>
    <mat-divider></mat-divider>
    <div class="p-3 mb-2 bg-light text-dark">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/about">
            <mat-icon>description</mat-icon>   
            About Us
        </a>
    </div>
  </mat-nav-list>
<div>Profile</div>
<mat-divider></mat-divider>
